.active {
  color: green;
}

ul {
  text-decoration: none;
}

ol {
    list-style-type: none;
    counter-reset: item;
}
li:before {
    content: counters(item, ".")". ";
    counter-increment: item
}